.admin-container {
  height: 100vh;
  width: 100vw;
}

.admin-sidenav {
  width: 260px;
}

.admin-content-area {
  display: flex;
  flex-direction: column;
  background-color: #f5f7fa;
}

.main-content {
  flex: 1; // Đây là phần nội dung chính, co giãn
  padding: 24px;
  overflow-y: auto; // Cho phép cuộn khi nội dung dài
}
