<mat-sidenav-container class="store-container">

  <mat-sidenav #sidenav mode="side" opened class="store-sidenav">
    <div class="sidenav-header">
      [LOGO TIỆM]
    </div>

    <mat-nav-list>
      <ng-container *ngTemplateOutlet="menuTemplate; context: { items: menuItems }"></ng-container>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="store-content">
    <mat-toolbar class="store-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Trang quản lý Tiệm</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Đăng xuất
      </button>
    </mat-toolbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>


<ng-template #menuTemplate let-items="items">
  @for (item of items; track item.name) {
    @if (!item.children) {
      <a mat-list-item
         [routerLink]="item.route"
         routerLinkActive="active-link"
         [ngClass]="'menu-item-level-' + (item.level || 1)">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.name }}</span>
      </a>
    }

    @if (item.children) {
      <div class="sub-menu-container" [ngClass]="'menu-item-level-' + (item.level || 1)">
        <div class="sub-menu-header">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
        </div>
        <div class="sub-menu-items">
          <ng-container *ngTemplateOutlet="menuTemplate; context: { items: item.children }"></ng-container>
        </div>
      </div>
    }
  }
</ng-template>
