<mat-sidenav-container class="store-container">

  <mat-sidenav #sidenav mode="side" opened class="store-sidenav">
    <div class="sidenav-header">
      [LOGO TIỆM]
    </div>

    <mat-nav-list>
      @for (item of menuItems; track item.name) {

        @if (!item.children) {
          <a mat-list-item
             [routerLink]="item.route"
             routerLinkActive="active-link">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
          </a>
        }

        @if (item.children) {
          <mat-expansion-panel [hideToggle]="true" class="menu-expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                <span>{{ item.name }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            @for (child of item.children; track child.name) {
              <a mat-list-item
                 [routerLink]="child.route"
                 routerLinkActive="active-link"
                 class="submenu-item">
                <mat-icon matListItemIcon>{{ child.icon }}</mat-icon>
                <span>{{ child.name }}</span>
              </a>
            }
          </mat-expansion-panel>
        }
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="store-content">

    <mat-toolbar class="store-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Trang quản lý Tiệm</span>

      <span class="spacer"></span>

      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Đăng xuất
      </button>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
