@use '@angular/material' as mat;
@use 'style-theme-colors' as colors;

html,
body {
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    @include mat.theme((color: colors.$primary-palette,
            typography: Roboto,
            density: 0));
}

html {
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

/* Định nghĩa màu sắc cho snackbar */

/* Lớp cho thông báo lỗi (màu đỏ) */
.snackbar-error {
  background-color: #f44336; /* Màu đỏ */
  color: white; /* Chữ màu trắng */
}

/* Lớp cho thông báo thành công (màu xanh) */
.snackbar-success {
  background-color: #4CAF50; /* Màu xanh lá */
  color: white; /* Chữ màu trắng */
}

/* Tùy chỉnh nút "Đóng" nếu cần */
.snackbar-error .mat-simple-snackbar-action,
.snackbar-success .mat-simple-snackbar-action {
  color: white;
}
